@using Blazored.Toast.Configuration;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager


<div class="page">
	@if (_drawerOpen)
	{
		<nav class="sidebar">
			<NavMenu />
		</nav>

	}

	<main>
		<header class="top-row auth">
				<button title="Hide menu" class="navbar-toggler" @onclick="DrawerToggle">            </button>
				<LoginOrOut />
		</header>


		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="3" />

<div id="blazor-error-ui">
	An unhandled error has occurred.
	<a href="" class="reload">Reload</a>
	<a class="dismiss">🗙</a>
</div>
@code {
	bool _drawerOpen = true;


	void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}
}