@using Microsoft.AspNetCore.Components.Web
@page "/login"

@inject NavigationManager Navigation


  @*   <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity?.Name!
         
      
            <button @onclick="@(() => Navigation.NavigateTo("/Account/Logout", forceLoad: true))">Logout</button>
        </Authorized>
        <NotAuthorized>
            <button @onclick="@(() => Navigation.NavigateTo("/Account/Login", forceLoad: true))">Login</button>
        </NotAuthorized>
    </AuthorizeView>
 *@


@code{
   
    // [CascadingParameter]
    // private Task<AuthenticationState>? authenticationStateTask { get; set; }
}
