@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web


@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            Hello, @context.User.Identity?.Name!
         
      
            <button @onclick="@(() => Navigation.NavigateTo("/Account/Logout", forceLoad: true))">Logout</button>
        </Authorized>
        <NotAuthorized>
            <button @onclick="@(() => Navigation.NavigateTo("/Account/Login", forceLoad: true))">Login</button>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code{
   

}
