
.b1{
    border: none;
    cursor:pointer;
    background-color:transparent;
    margin:0;
    padding:0;
    color: #6c9ee5;
}

.b1:hover{
    background-color: #3b3f400d;
}



.login-or-out-container {
    width: 100%;
}

    .login-or-out-container .user-actions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .login-or-out-container .name {
        font-weight: bold;
   
    }


