@page "/createUser"
@inject AuthenticationServiceClient AuthenticationService
@using JobHuntLogger.Model
<h3>Create new user</h3>



@code {

	private AccountCreation newAccount = new AccountCreation();

	private async Task SaveUser()
	{
		UserDto newUser = new UserDto() { UserName = newAccount.Name, Password = newAccount.Password };
		try
		{
			var responsse = await AuthenticationService.CreateAsync(newUser);
		}
		catch (Exception e)
		{
			Console.WriteLine(e);
			throw;
		}
	}
}
