@page "/login"

@using JobHuntLogger.Components.Model.Authentication
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject JobHuntApiService JobHuntApiService

@attribute [Authorize]
<h3>Login</h3>

<button type="button" @onclick="Authenticate">Login</button>



@code {

	private async Task Authenticate()
	{
			var response = await JobHuntApiService.CallApi();
			var content = await response.Content.ReadAsStringAsync();
			Console.WriteLine(response.Content);
	}
}