@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@attribute [AllowAnonymous]
@page "/"

<PageTitle>Index</PageTitle>
<br/>

<AuthorizeView>
	<Authorized>
		<h1>Welcome @context?.User?.Identity?.Name?.Split("@")[0]</h1>
	</Authorized>
	<NotAuthorized>
		<button @onclick="LoginWithMicrosoft">Login with Microsoft</button>
		<button @onclick="LoginWithWindows">Login with Windows</button>

	
		<h1>Welcome guest</h1>
	</NotAuthorized>
</AuthorizeView>

@code {

	[CascadingParameter]
	private Task<AuthenticationState>? AuthenticationState { get; set; }

		private void LoginWithMicrosoft()
		{
			NavigationManager.NavigateTo("MicrosoftLoginUrl", true);
		}
		private void LoginWithWindows()
		{
			NavigationManager.NavigateTo("WindowsLoginUrl", true);
		}
	
}