@using Microsoft.AspNetCore.Components.Authorization

@page "/"

<PageTitle>Index</PageTitle>
<br/>

<AuthorizeView>
	<Authorized>
		<h1>Welcome @context?.User.Identity!</h1>
	</Authorized>
	<NotAuthorized>
		<h1>Welcome guest</h1>
	</NotAuthorized>
</AuthorizeView>

@code {

	[CascadingParameter]
	private Task<AuthenticationState>? AuthenticationState { get; set; }
}